.monaco-editor {
    height: 100%;
}

.monaco-editor .lines-content {
    margin-left: 7px;
}

.monaco-editor .margin {
    padding-top: 7px;
}

.monaco-editor .editor-scrollable {
    width: 433px!important;
    height: 268px!important;
    top: 7px!important;
}

/* 
.monaco-editor .overflow-guard {
    height: 279px!important;
} */
.vs .monaco-scrollable-element>.scrollbar.vertical>.slider {
    left: 6px!important;
    border-radius: 5px!important;
    width: 6px!important;
}

.vs .monaco-scrollable-element>.scrollbar.horizontal>.slider {
    top: 4px!important;
    border-radius: 5px!important;
    height: 6px!important;
}

.monaco-editor .margin-view-overlays, .monaco-editor .editor-scrollable {
    /**margin-top: 10px;**/
}