.cBallerina-io-Home-Left-col {
    display: none;
}

.cStandaloneInstallers {
	margin: 15px 0 0;
	border-top: solid 1px #a7a8ab;
}

.cStandaloneInstallers h2 {
	margin: 25px 0;
}

.cStandaloneInstallers .cInstallers {
	background-color: #ffffff;
	padding: 32px 17px;
}

.cInstallers table {
	width: 100%;
	margin: 0;
}

.cInstallers table tr td {
	padding: 3px 7px 3px 7px;
	font-size: 13px;
	font-weight: 400;
	color: #585a5e;
}

.cInstallers table tr td a {
	color: #22b7b1;
}