.cBallerina-io-Home-Left-col {
    display: none;
}
.cBallerina-io-Home-Middle-col {
    width: 100%;
}

.cBlallerina-io-docs-content-container {
    display: inline-block;
}

.cBallerinaLearnWrapper {
    padding: 0;
    margin-bottom: 30px;
}

.cGrayWrapper {
    /* background-color: #f5f6f6; */
    padding: 0px;
    margin-bottom: 100px;
}
.cBallerina-Box {
    /* background-color: #f5f6f6; */
    display: inline-block;
    /* padding: 30px; */
    padding-left: 0;
    padding-right: 50px;
}
.cBoxContainer {
    padding-left: 0;
}

.cBallerina-Learn-Col {
    padding: 30px 30px;
}

.cGrayWrapper h2 {
    color: #464646;
    text-decoration: none;
    border: none;
    margin-top: 0;
   

}

a.cBallerinaLearnButtons {
background-color: #464646;
padding: 20px 70px 20px 24px;
/* width: 100%; */
display: inline-block;
color: #fff !important;
font-weight: 200;
background-image: url("/img/go-bg.svg");
background-repeat: no-repeat;
background-position: right center;
margin-top: 14px;
}


a.cBallerinaLearnButtons:hover {
   background-color: #20b6b0 !important;
}

.cBallerinaLearnTitleWrapper {
    padding: 0;
    margin-bottom: 15px;
}



a.cGreenLinkArrow {
    display: inline-block;
    float: left;
    margin: 0px;
    text-transform: uppercase;
    font-weight: 600;
    background-image: url("/img/go-bg.svg");
    background-repeat: no-repeat;
    background-position: right center;
    padding: 30px 60px 30px 0;
    
    
}