.cLectColStyle {
    padding: 30px 35px;
    background-color: #ffffff;
}

.cBallerina-io-Home-Middle-col {
    padding-right: 0px;
padding-left: 10px;
}


.col-lg-3.cBallerina-io-Home-Left-col  , .col-lg-3.cBallerina-io-Home-Right-col {
    width: 23%;
}

.col-lg-6.cBallerina-io-Home-Middle-col {
    width: 54%;
}


.cLectColStyle ul {
    padding: 0;
    margin: 0;
}

.cLectColStyle ul li a {
    font-size: 10px;
    display: inline-block;
    width: 100%;
    padding: 0px 0;
    
}
.cLectColStyle ul li a .bold {
/*    font-weight: 800;*/
}


.cBallerina-io p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
}

.fw-struct {
    width: 10px;
    height: 16px;
    display: inline-block;
    float: left;
    background-image: url("//b.content.wso2.com/sites/all/ballerina.io-cdn/img/construct.svg");

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.fw-function {
    width: 10px;
    height: 16px;
    display: inline-block;
    float: left;
    background-image: url("//b.content.wso2.com/sites/all/ballerina.io-cdn/img/function.svg");
    background-size: 100%;
     background-repeat: no-repeat;
    background-position: center;
}

ul.construct-inner-items-ul {
    padding-left: 12px;

}

.construct-name {
    padding-left: 15px;
}

.construct-wrapper {
    margin-bottom: 30px;
}


h2 {

}

.fw-struct.sm-icon {
    margin-right: 5px;
    background-image: url("//b.content.wso2.com/sites/all/ballerina.io-cdn/img/construct-green.svg");
    width: 12px;
    height: 24px;
}

.construct-wrapper .fw-function {
    background-image: url("//b.content.wso2.com/sites/all/ballerina.io-cdn/img/function-green.svg");
    width: 12px;
    height: 24px;
    margin-right: 5px;
}


h4 {
font-size: 14px;
margin: 10px 0;
font-weight: 200;

}

table {
    width: 100%;
    margin-bottom: 0px;
}

th {
    background: #f5f6f6;
    font-size: 12px;
    font-weight: normal;
    padding: 2px 0;
}
td {
    font-size: 12px;
    padding: 2px 0;
    font-size: 10px;
}
th, td , table {
    border-left: none !important;
    border-right: none !important;
}

.cBallerina-io-Home-Right-col a , .cBallerina-io-Home-Right-col a:hover , .cBallerina-io-Home-Right-col a:visited {
    color: #57595d;
}

h1 {
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 10px;
    
}

h1 span.bold {
/*    font-weight: 600;*/
}

h2 {
   font-size: 12px;

margin-bottom: 0px;

font-weight: 200;

line-height: 26px;
margin-top: 10px;
}

h2 span {
    font-weight: 600;
}

.function-wrapper ul li {
   padding: 10px 0;
/*   border-bottom: 1px solid #000000;
   border-top: 1px solid #d6d6d6;*/
}

.construct-wrapper {
    padding-right: 0px;
}

.construct-wrapper p {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 10px;
}
label.table-header-text {
    display: none;
}

th.col-md-5 , td.col-md-5 {
    width: 25%;
}

th.col-md-3 , td.col-md-3 {
    width: 25%;
}

th.col-md-2 , td.col-md-2 {
    width: 20%;
}
th.col-md-7 , th.col-md-7 {
    width: 60%;
}

.thin-text.light-gray {
    font-family: 'Monaco';
    color: #a0a0a0;
    font-weight: normal;
}
.cReturn {
    display: none;
}

.construct-wrapper > table:nth-child(2) {
    background-color: #99ff00;
}

.nano-content {
    margin-right: 0px !important;
}
