.cLectColStyle {
    padding: 20px;
    background-color: #ffffff;
}


.cLectColStyle ul {
    padding: 0;
    margin: 0;
}

.cLectColStyle ul li a {
    font-size: 12px;
    display: inline-block;
    width: 100%;
    padding: 2px 0;
    
}
.cLectColStyle ul li a .bold {
    font-weight: 800;
}


.fw-struct {
    width: 10px;
    height: 16px;
    display: inline-block;
    float: left;
    background-image: url("http://b.content.wso2.com/sites/all/ballerina.io-cdn/img/construct.svg");

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.fw-function {
    width: 10px;
    height: 16px;
    display: inline-block;
    float: left;
    background-image: url("http://b.content.wso2.com/sites/all/ballerina.io-cdn/img/function.svg");
    background-size: 100%;
     background-repeat: no-repeat;
    background-position: center;
}

ul.construct-inner-items-ul {
    padding-left: 10px;

}

.construct-name {
    padding-left: 15px;
}

.construct-wrapper {
    margin-bottom: 30px;
}


h2 {

}

.fw-struct.sm-icon {
    margin-right: 10px;
    background-image: url("http://b.content.wso2.com/sites/all/ballerina.io-cdn/img/construct-green.svg");
}

.construct-wrapper .fw-function {
    background-image: url("http://b.content.wso2.com/sites/all/ballerina.io-cdn/img/function-green.svg");
}


h4 {
font-size: 14px;
margin: 10px 0;
font-weight: 200;

}

table {
    width: 100%;
    margin-bottom: 10px;
}

th {
    background: #f5f6f6;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 0;
}
td {
    font-size: 12px;
    padding: 5px 0;
}
th, td , table {
    border-left: none !important;
    border-right: none !important;
}

.cBallerina-io-Home-Right-col a , .cBallerina-io-Home-Right-col a:hover , .cBallerina-io-Home-Right-col a:visited {
    color: #57595d;
}