/*DOCS ONLY*/

.col-lg-3.cBallerina-io-Home-Left-col  , .col-lg-3.cBallerina-io-Home-Right-col {
    width: 23%;
}

.col-lg-6.cBallerina-io-Home-Middle-col {
    width: 77%;
}

.navbar-nav.cTopNav > li:first-child,
.navbar-nav.cTopNav > li:nth-child(2) {
	display: block;
}

.wy-nav-content {
	background-color: #ffffff;
	padding: 0;
}

.wy-nav-content h1 {
	font-size: 30px;
	color: #585A5E;
}

.wy-nav-content h2 {
	font-size: 18px;
    padding: 0;
    margin: 0 0 15px 0;
    text-transform: uppercase;
    font-family: "CalibreWeb-Semibold", "pragmatica", sans-serif;
    color: #23B8B1;
	letter-spacing: 1px;
}

.wy-nav-content h3 {
	font-size: 14px;
	color: #585A5E;
	text-transform: uppercase;
	letter-spacing: 0.5px;
    font-family: "CalibreWeb-Semibold", "pragmatica", sans-serif;
}

.wy-nav-content h4 {
	font-size: 13px;
	color: #585A5E;
}

.wy-nav-content h5 {
	font-size: 12px;
	color: #585A5E;
	font-weight: bold;
}

.wy-nav-content code:not(.hljs) {
    background-color: #f5f5f5;
    border: none;
    color: #18bdb7;
}

.cBallerina-io-Home-Left-col,
.cBallerina-io-Home-Right-col {
	padding-top: 50px;
}

.cBallerina-io-Home-Middle-col {
	background-color: transparent;
	padding-right: 0;
}
.cBlallerina-io-docs-left-nav-box li {
    margin-bottom: 12px;
}
.cBallerina-io-Home-Left-col .cBlallerina-io-docs-left-nav-box a {
	font-size: 14px;
	line-height: 20px;
	padding: 1px 0;
}

.cBlallerina-io-docs-left-nav-box li:first-child {
	display: none;
}

.wy-menu-vertical li.current {
	background: transparent;
}

.cBlallerina-io-docs-content-container {
	display: inherit;
	padding: 38px 35px;
	background: #ffffff;
}

.cBlallerina-io-docs-content-container a {
	color: #17b8b1 !important;
}

nav.stickynav,
.affix {
	position: static;
	width: 100%;
}

.nav.stickynav {
	padding: 20px;

}

.wy-nav-side {
	background-color: transparent;
}

.cBlallerina-io-docs-left-nav-box,
.cBlallerina-io-docs-right-nav-box {
	background-color: #ffffff;
	display: inline-block;
	padding: 38px 25px 25px 25px;
	width: 100%;
}

.wy-menu-vertical .subnav a {
	padding: 0px 0px;
	color: #585a5e !important;
}

.wy-menu-vertical .subnav a:hover {
	background: #ffffff !important;
	color: #22b7b1 !important;
}

.wy-menu-vertical .subnav li.current > a {
	border: none;
}

.wy-menu-vertical .subnav li.current > ul li a {
	border: none;
	padding-top: 0;
	padding-bottom: 0;
}

.wy-menu-vertical span {
	padding: 10px 0;
	font-weight: 600;
	color: #585a5e;
}

.cBlallerina-io-docs-right-nav-box a {
	padding: 0px 0px;
	color: #585a5e;
	font-size: 10px;
}

.cBlallerina-io-docs-right-nav-box a:hover {
	background: transparent !important;
	color: #22b7b1 !important;
}

.cBallerina-io-docs-Title {
	color: #22b7b1;
	padding-bottom: 15px;
	margin-bottom: 0px;
	border-bottom: 1px solid #a6a8ab;
	font-family: "CalibreWeb-Semibold";
	letter-spacing: 1px;
	margin-bottom: 15px;
	font-size: 16px;
}

.cBallerina-io-Gray-row {
	padding-top: 20px;
}

.cBlallerina-io-docs-left-nav-container {
	padding-bottom: 10px;
	display: inline-block;
	background: transparent;
	width: 100%;
}

.cBlallerina-io-docs-right-nav-container {
	padding: 0px 0px 10px 10px;
	display: inline-block;
	background: transparent;
	width: 100%;
}

li.current a.current {
	display: none;
}

.cBallerina-io-Home-Left-col a {
	color: #57595d;
}

h1 {
	font-size: 25px;
	font-weight: 200;
	padding-bottom: 0px;
	margin-bottom: 20px;
}

h2 {
	font-size: 20px;
	font-weight: normal;
	padding: 0;
	margin: 30px 0 10px 0;
}

h3 {
	font-size: 15px;
	font-weight: normal;

	color: #22b7b1;

	margin: 20px 0 10px 0;
	padding: 0px;
}

pre {
	border: none;
	border-radius: 0;
}

pre code {
	border: none;
	border-radius: 0;
}

.cSideBar-Button {
	display: none;
}

table.docutils,
table.docutils tbody,
table.docutils thead {
	width: 100%;
}

.wy-breadcrumbs li,
.wy-breadcrumbs li a {
	color: #22b7b1 !important;
	font-size: 16px;
}

.wy-breadcrumbs li a {
	padding-right: 0;
}

.rst-content .section ol li,
.rst-content ol.arabic li,
.wy-plain-list-decimal li,
article ol li {
	font-size: 16px;
}

.cBallerina-io-breadcrumbs {
    padding: 15px 35px 5px 35px;
}

@media (min-width: 990x) {
	.cBallerina-io-Home-Middle-col {
		padding-right: 15px;
	}
	.col-lg-3.cBallerina-io-Home-Left-col, .col-lg-3.cBallerina-io-Home-Right-col {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.cBlallerina-io-docs-left-nav-box,
	.cBlallerina-io-docs-right-nav-box {
		padding: 0px;
	}

	.cBallerina-io-Home-Middle-col {
		padding: 0 15px !important;
	}

	.col-lg-3.cBallerina-io-Home-Left-col {
		width: 50% !important;
		position: fixed;
		height: 100vh;
		left: -50%;
		top: 0;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
		z-index: 999;
		background-color: #ffffff;
		overflow: scroll;
		transition: all 0.2s ease 0s;
	}

	.cBallerina-io-Home-Left-col.cOpen-col {
		left: 0%;
		transition: all 0.2s ease 0s;
	}

	.cBallerina-io-Home-Middle-col {
		width: 100% !important;
		padding-right: 15px;
	}

	.cBallerina-io-Home-Right-col {
		display: none;
	}

	.cSideBar-Button {
		position: fixed;
		left: 0;
		top: 137px;
		display: block;
		transition: all 0.2s ease 0s;
		height: 34px;
		width: 34px;
		display: inline-block;
		background-color: #3ad1ca;
		box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
		cursor: pointer;
	}

	.cSideBar-Button.cOpen {
		left: 50%;
		transition: all 0.2s ease 0s;

	}
	.cSideBar-Button.cOpen img {
		transform: rotate(180deg);
		transition: all 0.2s ease 0s;
	}

}
