.cLectColStyle {
    padding: 20px;
    background-color: #ffffff;
}


.cLectColStyle ul {
    padding: 0;
    margin: 0;
}

.cLectColStyle ul li a {
    font-size: 12px;
    display: inline-block;
    width: 100%;
    padding: 2px 0;
    
}
.cLectColStyle ul li a .bold {
    font-weight: 800;
}


.fw-struct {
    width: 10px;
    height: 16px;
    display: inline-block;
    float: left;
    background-image: url("//b.content.wso2.com/sites/all/ballerina.io-cdn/img/construct.svg");

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.fw-function {
    width: 10px;
    height: 16px;
    display: inline-block;
    float: left;
    background-image: url("//b.content.wso2.com/sites/all/ballerina.io-cdn/img/function.svg");
    background-size: 100%;
     background-repeat: no-repeat;
    background-position: center;
}

ul.construct-inner-items-ul {
    padding-left: 12px;

}

.construct-name {
    padding-left: 15px;
}

.construct-wrapper {
    margin-bottom: 30px;
}


h2 {

}

.fw-struct.sm-icon {
    margin-right: 5px;
    background-image: url("//b.content.wso2.com/sites/all/ballerina.io-cdn/img/construct-green.svg");
    width: 16px;
    height: 20px;
}

.construct-wrapper .fw-function {
    background-image: url("//b.content.wso2.com/sites/all/ballerina.io-cdn/img/function-green.svg");
    width: 16px;
    height: 24px;
    margin-right: 5px;
}


h4 {
font-size: 14px;
margin: 10px 0;
font-weight: 200;

}

table {
    width: 100%;
    margin-bottom: 34px;
}

th {
    background: #f5f6f6;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 0;
}
td {
    font-size: 12px;
    padding: 5px 0;
}
th, td , table {
    border-left: none !important;
    border-right: none !important;
}

.cBallerina-io-Home-Right-col a , .cBallerina-io-Home-Right-col a:hover , .cBallerina-io-Home-Right-col a:visited {
    color: #57595d;
}

h1 {
    font-size: 24px;
    font-weight: 200;
    
}

h1 span.bold {
    font-weight: 600;
}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 200;
}

h2 span {
    font-weight: 600;
}

.function-wrapper ul li {
/*   padding: 30px 0;*/
/*   border-bottom: 1px solid #000000;*/
/*   border-top: 1px solid #d6d6d6;*/
}

.construct-wrapper {
    padding-right: 20px;
}

.construct-wrapper p {
    margin-bottom: 10px;
    margin-top: 5px;
}