.cBallerina-io-Home-Left-col a {
    color: #57595d;
}
.cLectColStyle {
    padding: 40px 30px;
    background-color: #ffffff;
}

.cBlallerina-io-docs-content-container {
    padding: 40px 30px;
}

.cBallerina-io-Home-Middle-col {
    padding-right: 0px;
padding-left: 10px;
}


.col-lg-3.cBallerina-io-Home-Left-col  , .col-lg-3.cBallerina-io-Home-Right-col {
/*    width: 23%;*/
}

.col-lg-6.cBallerina-io-Home-Middle-col {
/*    width: 54%;*/
}

.cBlallerina-io-docs-right-nav-container {
    padding-left: 0;
}

.cLectColStyle ul {
    padding: 0;
    margin: 0;
}

.cLectColStyle ul li a {
    font-size: 14px;
    display: inline-block;
    width: 100%;
    padding: 0px 0;
    margin-bottom: 5px;
    word-wrap:break-word;
        
    
}
.cLectColStyle ul li a .bold {
/*    font-weight: 800;*/
}


.cBallerina-io p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
}

.fw-struct {
    width: 10px;
    height: 20px;
    display: inline-block;
    float: left;
    background-image: url("//b.content.wso2.com/sites/all/ballerina.io-cdn/img/construct.svg");

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.fw-function {
    width: 10px;
    height: 20px;
    display: inline-block;
    float: left;
    background-image: url("//b.content.wso2.com/sites/all/ballerina.io-cdn/img/function.svg");
    background-size: 100%;
     background-repeat: no-repeat;
    background-position: center;
}


.fw-globe {
    width: 10px;
    height: 20px;
    display: inline-block;
    float: left;
   background-image: url("/img/globe.svg");
    background-size: 100%;
     background-repeat: no-repeat;
    background-position: center;
     
}


ul.construct-inner-items-ul {
    padding-left: 12px;

}

.construct-name {
    padding-left: 15px;
}

.construct-wrapper {
    margin-bottom: 30px;
}


h2 {

}

.fw-struct.sm-icon {
    margin-right: 5px;
    background-image: url("//b.content.wso2.com/sites/all/ballerina.io-cdn/img/construct-green.svg");
    width: 17px;
height: 30px;
}

.construct-wrapper .fw-function {
    background-image: url("//b.content.wso2.com/sites/all/ballerina.io-cdn/img/function-green.svg");
  width: 17px;
height: 30px;
    margin-right: 5px;
}




h4 {
font-size: 14px;
margin: 10px 0;
font-weight: 200;

}

table {
    width: 100%;
    margin-bottom: 0px;
    table-layout: fixed;
}

th {
    background: #f5f6f6;
font-weight: normal;

padding: 3px 0;

    padding-right: 0px;
    padding-left: 0px;

font-weight: 200;
}
td {

padding: 3px 0;
padding-right: 0px;
padding-left: 0px;


font-weight: 200;
}
th, td , table {
    border-left: none !important;
    border-right: none !important;
    word-wrap: break-word;
        
        
        
}



.cBallerina-io-Home-Right-col a , .cBallerina-io-Home-Right-col a:hover , .cBallerina-io-Home-Right-col a:visited {
    color: #57595d;
}

h1 {
   font-size: 30px;
color: #585A5E;
font-weight: 200;
margin-bottom: 20px;
    
}
.cAPIdocsDescription h1 {
    display: none;
}

h1 span.bold {
/*    font-weight: 600;*/
}

h2 {
   font-size: 16px;
 font-family: Monaco;

margin-bottom: 5px;
font-weight: 400;
line-height: 26px;
margin-top: 30px;
color: #57595d;

}

h2 span {
    font-weight: 600;
}

.function-wrapper ul li {
   padding: 10px 0;
/*   border-bottom: 1px solid #000000;
   border-top: 1px solid #d6d6d6;*/
}

.construct-wrapper {
    padding-right: 0px;
}

.construct-wrapper p {
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 14px;
}
label.table-header-text {
    display: none;
}

/*th.col-md-5 , td.col-md-5 {
    width: 25%;
   
}

th.col-md-3 , td.col-md-3 {
    width: 25%;
   
}

th.col-md-2 , td.col-md-2 {
    width: 20%;
    
}
th.col-md-7 , th.col-md-7 {
    width: 60%;
}*/




th.cAPI-table-desc {
    width: 40%;


}


td.cAPI-table-name,
td.cAPI-table-type,
td.cAPI-table-defult {
     font-family: 'Monaco';
    font-weight: normal;
    font-size: 11px;
}





th.cAPI-table-name {
    width: 20%;
    

}

th.cAPI-table-type {
    width: 20%;

}

th.cAPI-table-defult {
    width: 20%;
 
}

td.col-md-2 , td.col-md-3 , td.col-md-4,  td.col-md-5{
  
    font-weight: 200;
    font-size: 12px;
}

td.cAPI-table-desc {

    font-family: "pragmatica", sans-serif;
    font-size: 12px;
    
}



.thin-text.light-gray {
   font-family: 'Monaco';
    color: #a0a0a0;
    font-weight: normal;
}
.cReturn {
    display: none;
}

/*.construct-wrapper > table:nth-child(2) {
    background-color: #99ff00;
}*/

.nano-content {
    margin-right: 0px !important;
}

pre {
    border-radius: 0;
    margin-bottom: 20px;
}

pre code {
/*    font-size: 14px;
    line-height: 20px;*/
}
.nano-content {
   padding: 0 !important;
}

    
th {
    font-size:13px;
}



/*NEW MENU*/

.cLectColStyle.cLeftColTop {
    padding-bottom: 0px;
}

.cLectColStyle.cLeftColTop.cOpenMenu {
    padding-bottom: 30px;
}
    .cCollaps-Menu {
        height: 1px;
        display: inline-block;
        overflow: hidden;
        transition: all 0.2s ease 0s;
        opacity: 0;
    }
    
/*    .cCollaps-Menu ul , .cCollaps-Menu ul li  {
        display: none;
    }
    */
    .cCollaps-Menu.cOpenMenu {
        height: auto;
        transition: all 0.2s ease 0s;
        opacity: 1;
    }
    
    .cBallerina-io-docs-Title.cBallerina-io-packages {
        cursor: pointer;
        border: none;
/*        padding-bottom: 0;*/
        margin-bottom: 0;
        background-image: url("/img/down-arrow.svg");
        background-size: 20px;
        background-position: right 4px;
        background-repeat: no-repeat;

        

    }
    
    .cBallerina-io-docs-Title.cBallerina-io-packages.cOpenMenu {
         border-bottom: 1px solid #a6a8ab;
         padding-bottom: 15px;
         margin-bottom: 15px;
          background-image: url("/img/up-arrow1.svg");
    }