.row.cBallerina-io-Gray-row {
    padding-top: 50px;
}

h2 , h2 a {
    font-size: 25px;
line-height: 30px;
margin-bottom: 0;
color: #57595d;
font-weight: 200;
margin-bottom: 30px;
}

.FullCode {
    display: none;
}
pre {
    margin: 0;
    border: none;
    background-color: #f5f6f6;
    white-space: pre-wrap;
    border-radius: 0;
    
}

tr:hover pre {
    background-color: #cceeec;
}


.code {
    background-color: #f5f6f6;
    width: 60%;
   
}

td.code {
     background-color: #f5f6f6;
 padding: 0px;
    
    box-shadow:  -22px 16px 17px rgba(0, 0, 0, 0.2);
    
   vertical-align: top;
    
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-left: 30px solid #ffffff;
    border-right: 30px solid #ffffff;
/*    transition: all 0.2s ease 0s;*/
}
/*td.code:first-child {
   border-top: 30px solid #ffffff;
    
}*/

/*.lastrpw td.code {
    border-bottom: 30px solid #ffffff;
}

*/.cTR:last-child td.code {
    border-top: 00px solid #ffffff;
    border-bottom: 0;;
}

.docs {
    padding-left: 30px;
    width: 40%;
    
} 

.docs p {
    background: #ffffff;
    font-size: 12px;
    padding: 7px 20px;
    
  
}

tr:hover .docs p {
/*    background-color: #3ad1ca;*/
  color: #ffffff;

}

.highlight {
    min-width: 645px;
}

.cCodeRight {
    display: none;
}
.cCodeRight.cShow {
    display: block;
}

.cCodeLeft.cHide {
    display: none;
}
.cCodeRight .docs {
    padding-right: 30px;
    padding-left: 0;
}



.cCodeRight .cCodeDesription {
    padding-right: 14px;
     background-image: url("http://localhost/website/main-pages/site/img/white-arrow.svg");
     background-position: right center;
     background-repeat: no-repeat;
}

 tr:hover .cCodeRight .cCodeDesription {
    padding-right: 14px;
     background-image: url("http://localhost/website/main-pages/site/img/green-arrow.svg")!important;
     background-position: right center;
     background-repeat: no-repeat;
}

.cCodeRight .docs p {
    background: #ffffff;
    font-size: 12px; padding: 10px 20px;
   
    background-repeat: no-repeat;
    
    
}


.cCodeLeft .docs p {
    
}

.cCodeLeft .cCodeDesription {
    padding-left: 14px;
     background-image: url("http://localhost/website/main-pages/site/img/white-arrow.svg");
     background-position: left center;
     background-repeat: no-repeat;
}

 tr:hover .cCodeLeft .cCodeDesription {
    padding-left: 14px;
     background-image: url("http://localhost/website/main-pages/site/img/green-arrow.svg") !important;
     background-position: left center;
     background-repeat: no-repeat;
}




tr:hover .docs p {
    background-color: #3ad1ca;
  color: #ffffff;

}
tr:hover .cCodeDesription {
     background-image: url("http://localhost/website/main-pages/site/img/green-arrow.svg") !important;
}


.cBBEBottom , .cBBETop  {
    width: 100%;
}


table.cTopBorder-table {
    width: 100%;
}

table.cTopBorder-table .cCodeTD {
    border-top: 30px solid #ffffff; 
    border-left: 30px solid #ffffff; 
    border-right: 30px solid #ffffff; 
    width: 60%;
}

table.cBottomBorder-table {
    width: 100%;
}

table.cBottomBorder-table .cCodeTD {
    border-bottom: 30px solid #ffffff; 
    border-left: 30px solid #ffffff; 
    border-right: 30px solid #ffffff; 
    width: 60%;
}

.cBallerina-BBE-top-Container {
    padding-bottom: 60px;
}


.cBreadcrums {
    display: inline-block;
    width: 100%;
    margin-top: 28px;
    margin-bottom: 26px;
    padding-left: 5px;
}

.cBreadcrums ul {
    padding: 0;
    margin: 0;
}
.cBreadcrums ul li {
    display: inline-block;
    float: left;
    padding: 0px 5px;
    color: #22b7b1 !important
}
.cBreadcrums ul li a {
     color: #22b7b1 !important
}
.cBreadcrums ul li:first-child {
    padding-left: 0;  
}

.cTopButtonContainer {
    width: 100%;
    display: inline-block;
}

 a.prev ,  a.next {
    padding: 10px 0;
    width: 300px;
    text-align: center;
    
    background: #ffffff;
    border: 1px solid #a7a8ab;
    display: inline-block;
    font-family: "CalibreWeb-Semibold";
    font-weight: 600;
    letter-spacing: 1px;
    color: #57595d;
    width: 100%;
}
a.next {
    margin-right: 0;
}
.cBallerina-BBE-top-Conrols-Container {
padding-left: 177px;
}

.cBBE-links {
    margin-top: 28px;
position: absolute;
right: -134px;
}

.cBBE-links ul {
    padding: 0;
    margin: 0;
}

.cBBE-links ul li {
    list-style: none;
    display: inline-block;
    float: left;
    margin-left: 20px;
    
}
.cBBE-links ul li a img {
    height: 20px;
}

.cButtonInfoContainer {
   width: 46%;
display: inline-block;
float: left;
margin-right: 14px;
}
.cButtonInfoContainer p {
    padding-top: 10px;
    display: inline-block;
    width: 100%;
    font-size: 11px;
}

.cBallerina-io-Gray-row {
    padding-bottom: 90px;
}