.cPhil-title-boxes h3 {
    font-family: "CalibreWeb-Semibold";
    text-transform: uppercase;
    color: #23b8b1;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
/*    margin: 0;*/
margin-top: 10px;
    font-weight: 800;
    
}

.cBlallerina-io-docs-content-container {
    padding: 0;
    background-color: transparent;
}
.wy-nav-content {
    background-color: transparent !important;
}

.col-lg-3.cBallerina-io-Home-Left-col , .col-lg-3.cBallerina-io-Home-Right-col{
    display: none;
}
.cBlallerina-io-docs-content-container , .col-lg-6.cBallerina-io-Home-Middle-col {
    width: 100%;
}

.section,
.rst-content,
.wy-nav-content {
	width: 100% !important;
	display: content !important;
}

.wy-nav-content {
	max-width: 100%;
}

ul.cBlogPostContainer {
    padding: 30px;

    background: #ffffff;
 
    display: inline-block;
    min-height: 400px;
    float: left;
}

ul.cBlogPostContainer li , .rst-content .section ul li, .rst-content .toctree-wrapper ul li, .wy-plain-list-disc li, article ul li {
    list-style: none;
    margin-left: 0;
    
}
.cBlogPostContainer ul li:nth-child(2) p {
    font-weight: 800;
    background-color: red;
}


/*MARKDOWN*/

.section ul {
      padding: 30px;
      background: #ffffff;
     display: inline-block;
     min-height: 400px;
     float: left;
}


.section ul li:first-child {
        font-size: 16px;
    padding: 0;
    margin: 0 0 15px 0;
    text-transform: uppercase;
    font-family: "CalibreWeb-Semibold", "pragmatica", sans-serif;
    color: #23B8B1;
    letter-spacing: 2px;
}
.section ul li:nth-child(2)  {
   font-size: 16px;
   font-weight: 600;
   margin-bottom: 10px;
}
.section ul li:nth-child(3) {
    font-size: 14px;
}
.section ul li:nth-child(4) {
    
}
hr {
    display: none;
}