body { font-family: "pragmatica",sans-serif; }
.cDownloadsHeader h1 { font-size: 25px; line-height: 25px; margin: 45px 0 20px 0; font-weight: 300; font-family: "pragmatica",sans-serif; letter-spacing: .5px; }
.cDownloadsHeader p { font-size: 14px; line-height: 20px; }
.cDownloadsHeader a { font-size: 14px; color: #22b7b1; font-weight: 600; font-family: "CalibreWeb-Semibold";  }
h2 { font-size: 25px; line-height: 30px; font-weight: 300; margin: 21px 0 25px; letter-spacing: 0; }
a.cDownload { display: inline-block; width: 91%;  transition: all 0.2s ease 0s; font-size: 25px; font-weight: 300; background-color: #57595d; color: #ffffff; padding: 15px 10px 20px 67px; background-image: url("../img/download-bg.svg"); background-repeat: no-repeat; background-position: left 25px top 18px; }
.cDownloadLeft a.cDownload { float: left; }
.cDownloadRight a.cDownload { float: right; }
.cDownloadMiddle a.cDownload { margin: auto; }
a.cDownload .cSize { font-family: "Monaco"; font-size: 12px; color: #d9dadb; }
.cArchived a { font-size: 14px; color: #22b7b1; font-weight: 600; font-family: "CalibreWeb-Semibold";  }
.cArchived { margin: 20px 0 0; }
.cStandaloneInstallers { margin: 15px 0 0; border-top: solid 1px #a7a8ab; }
.cStandaloneInstallers h2 { margin: 25px 0; }
.cStandaloneInstallers .cInstallers { background-color: #ffffff; padding: 32px 17px; }
.cInstallers { margin-bottom: 25px; }
.cInstallers h3 { font-size: 14px; font-weight: 300; margin: 0 0 20px 21px; }
.cInstallers .cLeftTable { padding-right: 30px; }
.cInstallers .cRightTable { padding-left: 30px; }
.cInstallers table { width: 100%; border-top: solid .5px #a7a8ab; margin: 0; }
.cInstallers table tr td { padding: 3px 7px 3px 7px; font-size: 10px; font-weight: 400; color: #585a5e; border-bottom: solid .5px #a7a8ab; }
.cInstallers table tr td a { color: #22b7b1; }
.cInstallers table tr td a.cLinkBlack { color: #585a5e; }


a.cDownload:hover {
    background-image: url("../img/download-bg-white.svg");
    background-color: #22b7b1;
    background-image: url("../img/download-bg-white.svg");
/*    transition: all 0.2s ease 0s;*/
}


ul.cDiwnloadSubLinks  {
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 10px 0;
    margin: 0;
}
ul.cDiwnloadSubLinks li {
    list-style: none;
    float: left;
    display: inline-block;
    margin-right: 10px;
}

ul.cDiwnloadSubLinks li a {
    color: #22b7b1;
}


.cReleseNotesContainer {
    padding: 30px;
    background: #ffffff;
}
.cReleseNotesContainer h3 {
    font-size: 20px;
}

.cReleseNotePannel {
    height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.2s ease 0s;
}

.cReleseNotePannel.cShowPlannel {
    opacity: 1;
    height: auto;
    transition: all 0.2s ease 0s;
}

#iReleseNotes.cShowPlannel {
    background-color: #ffffff;
    padding: 20px;
    transition: all 0.2s ease 0s;
}


@media screen and (max-width: 1199px) {
    .cDownloadLeft { width: 275px; padding-bottom: 30px; }
    .cDownloadRight { width: 275px; padding-bottom: 30px; }
    .cDownloadMiddle { width: 275px; padding-bottom: 30px; }
    .cDownloadLeft a.cDownload { float: none; width: 100%; }
    .cDownloadRight a.cDownload { float: none; width: 100%; }
    .cDownloadMiddle a.cDownload { margin: 0; width: 100%; }
}
@media screen and (max-width: 991px) {
.cInstallers .cLeftTable { padding-right: 15px; }
.cInstallers .cRightTable { padding-left: 15px; }
.cInstallers .cRightTable table { border-top: 0; }
}