.cEventLogo {
    width: 300px;
    margin: 20px 0;
}
.cEventRegistration {
    font-weight: 400;
    font-size: 16px;
}

.rst-content .section table.cEventTable.docutils {
    float: none;
    width:100% !important;
    border-top: none !important;
    border-bottom: none !important;
}

table.cEventTable.docutils td.cEventDateContainer, table.cEventTable.docutils td.cEventDetail , table.cEventTable.docutils td.cEventURL {
    border-bottom: 1px solid #e1e4e5 !important;
    border-spacing: 10px !important;
}

table.cEventTable.docutils tr.cLastTableRow td.cEventDateContainer , 
table.cEventTable.docutils tr.cLastTableRow td.cEventDetail , 
table.cEventTable.docutils tr.cLastTableRow td.cEventURL  {
  border-bottom: none !important;
}

td.cEventDateContainer span.cEventDate {
    font-family: "CalibreWeb-Semibold", "pragmatica", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}