[submodule "playground-widget/guides/playground-hello-service"]
	path = playground-widget/web/guides/playground-hello-service
	url = https://github.com/ballerina-guides/playground-hello-service.git
[submodule "playground-widget/guides/playground-async-invocation"]
	path = playground-widget/web/guides/playground-async-invocation
	url = https://github.com/ballerina-guides/playground-async-invocation.git
[submodule "playground-widget/guides/playground-circuit-breaker"]
	path = playground-widget/web/guides/playground-circuit-breaker
	url = https://github.com/ballerina-guides/playground-circuit-breaker.git
[submodule "playground-widget/guides/playground-external-service"]
	path = playground-widget/web/guides/playground-external-service
	url = https://github.com/ballerina-guides/playground-external-service.git
[submodule "playground-widget/guides/playground-data-service"]
	path = playground-widget/web/guides/playground-data-service
	url = https://github.com/ballerina-guides/playground-data-service.git
[submodule "playground-widget/guides/playground-post-service"]
	path = playground-widget/web/guides/playground-post-service
	url = https://github.com/ballerina-guides/playground-post-service.git
[submodule "website/guides/restful-service"]
	path = website/guides/repos/restful-service
	url = https://github.com/ballerina-guides/restful-service.git
[submodule "website/guides/websocket-integration"]
	path = website/guides/repos/websocket-integration
	url = https://github.com/ballerina-guides/websocket-integration.git
[submodule "website/guides/resiliency-timeouts"]
	path = website/guides/repos/resiliency-timeouts
	url = https://github.com/ballerina-guides/resiliency-timeouts.git
[submodule "website/guides/loadbalancing-failover"]
	path = website/guides/repos/loadbalancing-failover
	url = https://github.com/ballerina-guides/loadbalancing-failover.git
[submodule "website/guides/data-backed-service"]
	path = website/guides/repos/data-backed-service
	url = https://github.com/ballerina-guides/data-backed-service.git
[submodule "website/guides/open-api-based-service"]
	path = website/guides/repos/open-api-based-service
	url = https://github.com/ballerina-guides/open-api-based-service.git
[submodule "website/guides/managing-database-transactions"]
	path = website/guides/repos/managing-database-transactions
	url = https://github.com/ballerina-guides/managing-database-transactions.git
[submodule "website/guides/messaging-with-jms-queues"]
	path = website/guides/repos/messaging-with-jms-queues
	url = https://github.com/ballerina-guides/messaging-with-jms-queues.git
[submodule "website/guides/parallel-service-orchestration"]
	path = website/guides/repos/parallel-service-orchestration
	url = https://github.com/ballerina-guides/parallel-service-orchestration.git
[submodule "website/guides/service-composition"]
	path = website/guides/repos/service-composition
	url = https://github.com/ballerina-guides/service-composition.git
[submodule "website/guides/resiliency-circuit-breaker"]
	path = website/guides/repos/resiliency-circuit-breaker
	url = https://github.com/ballerina-guides/resiliency-circuit-breaker.git
[submodule "website/guides/messaging-with-kafka"]
	path = website/guides/repos/messaging-with-kafka
	url = https://github.com/ballerina-guides/messaging-with-kafka.git
[submodule "playground-widget/ballerina-1"]
	path = playground-widget/web/ballerina-lang
	url = https://github.com/kaviththiranga/ballerina-1.git
[submodule "playground-widget/web/guides/playground-streaming"]
	path = playground-widget/web/guides/playground-streaming
	url = https://github.com/ballerina-guides/playground-streaming.git
