[submodule "ballerina"]
	path = playground-widget/ballerina
	url = https://github.com/ballerina-lang/ballerina.git
[submodule "playground-widget/guides/playground-hello-service"]
	path = playground-widget/guides/playground-hello-service
	url = https://github.com/ballerina-guides/playground-hello-service.git
