[submodule "ballerina"]
	path = playground-widget/ballerina
	url = https://github.com/ballerina-lang/ballerina.git
[submodule "playground-widget/guides/playground-hello-service"]
	path = playground-widget/guides/playground-hello-service
	url = https://github.com/ballerina-guides/playground-hello-service.git
[submodule "playground-widget/guides/playground-async-invocation"]
	path = playground-widget/guides/playground-async-invocation
	url = https://github.com/ballerina-guides/playground-async-invocation.git
[submodule "playground-widget/guides/playground-circuit-breaker"]
	path = playground-widget/guides/playground-circuit-breaker
	url = https://github.com/ballerina-guides/playground-circuit-breaker.git
[submodule "playground-widget/guides/playground-external-service"]
	path = playground-widget/guides/playground-external-service
	url = https://github.com/ballerina-guides/playground-external-service.git
[submodule "playground-widget/guides/playground-data-service"]
	path = playground-widget/guides/playground-data-service
	url = https://github.com/ballerina-guides/playground-data-service.git
[submodule "playground-widget/guides/playground-post-service"]
	path = playground-widget/guides/playground-post-service
	url = https://github.com/ballerina-guides/playground-post-service.git
