<div class="row cBallerina-io-Gray-row">
        <div class="container">
           <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 cBallerina-io-Home-Left-col">
                 <div class="cBlallerina-io-docs-left-nav-container">
                    <div class="cSideBar-Button"><img src="/img/sidebar.svg" /></div>
                    <div class="cBlallerina-io-docs-left-nav-box">
                       <div class="cBallerina-io-docs-Title">TABLE OF CONTENTS</div>
                       <ul id="toc_list">
                          <li class="toctree-l3"><a href="#the-ballerina-community">The Ballerina Community</a></li>
                          <li><a class="toctree-l4" href="#looking-for-help">Looking for help?</a></li>
                          <li><a class="toctree-l4" href="#want-to-be-kept-up-to-date">Want to be kept up-to-date?</a></li>
                          <li><a class="toctree-l4" href="#want-to-report-issues">Want to report issues?</a></li>
                          <li><a class="toctree-l4" href="#want-to-help-us-make-ballerina-popular">Want to help us make Ballerina popular?!</a></li>
                          <li><a class="toctree-l4" href="#want-to-help-implement-ballerina">Want to help implement Ballerina?</a></li>
                       </ul>
                    </div>
                 </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cBallerina-io-Home-Middle-col">
                 <div class="col-md-12 col-lg-12 cBallerina-io-breadcrumbs">
                    <div role="navigation" aria-label="breadcrumbs navigation">
                       <ul class="wy-breadcrumbs" id="breadcrumb-list">
                          <li><a href="/">Home</a> &raquo;</li>
                          <li>Community</li>
                          <li class="wy-breadcrumbs-aside" id="iGitEdit">
                             <a href="https://github.com/ballerina-platform/ballerina-www/tree/1.0 rc1/website/two-column-pages/docs/community.md" target="_blank"
                                class="icon icon-github"> Edit on GitHub</a>
                          </li>
                       </ul>
                    </div>
                 </div>
                 <div class="cBlallerina-io-docs-content-container">
                    <div class="wy-nav-content">
                       <div class="rst-content">
                          <div role="main">
                             <div class="section">
                                <!--                <h1>Community</h1>-->
                                <h1 id="the-ballerina-community">The Ballerina Community</h1>
                                <p>The Ballerina community has been bootstrapped by <a href="https://wso2.com/">WSO2</a> via sponsorship of the design &amp; implementation of the Ballerina platform. Ballerina is a fully open source project with all source code licensed under the <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a> and the specifications licensed under the <a href="https://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International</a> license.</p>
                                <p>We warmly welcome any and all contributors to the community to help establish Ballerina as a truly community owned resource!</p>
                                <h2 id="looking-for-help">Looking for help?</h2>
                                <p>We’re happy to help! Come engage with us on any channel that works for you:</p>
                                <div class="col-sm-12 col-md-12 cBallerinaLearnWrapper cGrayWrapper cCommunityLinks">
                                   <div class="col-sm-12 col-md-3 cBoxContainer cCommunityIconsContainer">
                                      <div class="cBallerina-Box">
                                         <a class="cCommunityIcons" href="https://twitter.com/ballerinalang"><img src="/img/twitter.svg"></a>
                                      </div>
                                   </div>
                                   <div class="col-sm-12 col-md-3 cBoxContainer cCommunityIconsContainer">
                                      <div class="cBallerina-Box">
                                         <a class="cCommunityIcons" href="/community/slack/"><img src="/img/slack.svg"></a>
                                      </div>
                                   </div>
                                   <div class="col-sm-12 col-md-3 cBoxContainer cCommunityIconsContainer">
                                      <div class="cBallerina-Box">
                                         <a class="cCommunityIcons" href="https://stackoverflow.com/questions/tagged/ballerina"><img src="/img/stackoverflow.svg"></a>
                                      </div>
                                   </div>
                                   <div class="col-sm-12 col-md-3 cBoxContainer cCommunityIconsContainer">
                                      <div class="cBallerina-Box">
                                         <a class="cCommunityIcons" href="https://groups.google.com/forum/#!forum/ballerina-dev"><img src="/img/google-groups.svg"></a>
                                      </div>
                                   </div>
                                </div>
                                <h2 id="want-to-be-kept-up-to-date">Want to be kept up-to-date?</h2>
                                <p>We run an announcement-only, no-marketing-spam mailing list that we will use to inform you of new releases and similar relevant information. If you’d like to join please submit the form below </p>
                                <p>(GDPR compliant mandatory consent click included!):</p>
                                <form class="cFormContainerOS">
                                   <label class="subscribeForm" id="subscribeFormLabelOS">Email Address</label>
                                   <input class="cTextfieldstyle" maxlength="90" value="" id="emailUserOS" name="email" placeholder="I consent to join the email list" title="Email" type="text">
                                </form>
                                <h2 id="want-to-report-issues">Want to report issues?</h2>
                                <p>Oh no, you hit a bump on the road! Please tell us - we want to fix all bugs!</p>
                                <ul>
                                   <li>Found a bug in the compiler, standard libraries or the runtime? Create an issue here: <a href="https://github.com/ballerina-platform/ballerina-lang/issues">https://github.com/ballerina-platform/ballerina-lang/issues</a></li>
                                   <li>Found a bug in the language specification? Create an issue here: <a href="https://github.com/ballerina-platform/ballerina-spec/issues">https://github.com/ballerina-platform/ballerina-spec/issues</a></li>
                                   <li>Found a bug on the website? Create an issue here:<a href="https://github.com/ballerina-platform/ballerina-www/issues">https://github.com/ballerina-platform/ballerina-www/issues</a> </li>
                                </ul>
                                <h2 id="want-to-help-us-make-ballerina-popular">Want to help us make Ballerina popular?!</h2>
                                <p>We know getting a language established is like getting a new religion going! We really need you, our fans, to help spread the word!</p>
                                <p>First let’s start with starring the main GitHub repo right here: <a href="https://github.com/ballerina-platform/ballerina-lang">https://github.com/ballerina-platform/ballerina-lang</a>. Thank you!</p>
                                <p>Second is to share the wealth by publishing your code on <a href="https://central.ballerna.io">Ballerina Central</a>! Do it today. Do it now.</p>
                                <p>Follow us on Twitter: <a href="https://twitter.com/ballerinalang">@ballerinalang</a>. Tweet with the “#ballerinalang" hashtag!</p>
                                <p>Do you want to organize a local meetup or hackathon? WSO2 can help with presentation / training content, logistics, swag, and some funds to for munchies. Give us a buzz and we’ll get right on it: <a href="mailto:contact@ballerina.io">contact@ballerina.io</a>.</p>
                                <h2 id="want-to-help-implement-ballerina">Want to help implement Ballerina?</h2>
                                <p>Join the project and write some code with us to make Ballerina better! You can hang out with us in the Slack channel, the mailing list and of course on GitHub.</p>
                                <p>Please read the <a href="XX">Contributor Guide</a> so you are aware of the ground rules as you start! Happy dancing!</p>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <div id="iBallerinaFooter" class="row cBallerina-io-White-row">
     </div>
     <script>
        $(document).ready(function() {
            $(".cSideBar-Button").click(function() {
                $(".cSideBar-Button").toggleClass('cOpen');
                $(".cBallerina-io-Home-Left-col").toggleClass('cOpen-col');
            });
        
            $("#breadcrumb-list li").each(function(index) {
                var current = $(this);
                var currentLink = $(current.find("a")[0]);
                if (currentLink && currentLink.attr("href") == "#" && !current.hasClass("wy-breadcrumbs-aside") &&
                    !current.next().hasClass("wy-breadcrumbs-aside")) {
                    var prevLink = $(current.prev().find("a")[0]);
                    if (prevLink && prevLink.attr("href") != "#") {
                        currentLink.attr("href", prevLink.attr("href") +
                            (prevLink.attr("href").match(/\/$/) ? "" : "/") +
                            current.attr("link_candidate").toLowerCase().split(" ").join("-"));
                    }
                }
            });
        });
     </script>
     <script src="/js/theme.js"></script>
     <script src="/search/search.js"></script>
     <!-- Slack form -->
     <div class="modal fade" id="subscribe" role="dialog">
        <div class="modal-dialog">
           <!-- Modal content-->
           <div class="modal-content">
              <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title">Request an invite</h4>
              </div>
              <div class="modal-body">
                 <form>
                    <div class="cBallerinaFormFieldContainer">
                       <span id="subscribeMessage"></span>
                       <label class="subscribeForm">Email Address</label>
                       <input maxlength="90" value="" id="email" name="email" placeholder="Email" title="Email" class="cTextfieldstyle contact_email subscribeForm" type="text">
                    </div>
                    <a class="cBallerinaButtons subscribeForm" href="" id="subscribeButton">Submit</a>
                 </form>
              </div>
           </div>
        </div>
     </div>
     <div class="cSocial-sidebar">
        <ul class="cHorizontalList cSocialMedia" style="list-style: none; padding: 0; margin: 0;">
           <li>
              <a target="_blank" rel="external nofollow"  class="w-inline-block social-share-btn tw" href="https://twitter.com/intent/tweet?" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20 ' + encodeURIComponent(document.URL)); return false;">
              <img id="iFloating-Twitter-Share" src="https://ballerina.io/img/twitter.svg" alt="Twitter">
              </a>
           </li>
           <li>
              <a target="_blank" rel="external nofollow" title="Share with your friends on Facebook" href="https://www.facebook.com/sharer/sharer.php?u=&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;">
              <img id="iFloating-Facebook-Share" src="https://ballerina.io/img/facebook.svg" alt="Facebook">
              </a>
           </li>
           <li>
              <a target="_blank" rel="external nofollow" class="w-inline-block social-share-btn lnk" href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' + encodeURIComponent(document.title)); return false;">
              <img id="iFloating-LinkedIn-Share" src="https://ballerina.io/img/linkedin.svg" alt="LinkedIn">
              </a>
           </li>
        </ul>
     </div>
     <style>
        .cGitButtonContainer {
        display: inline-block;
        width: 100%;
        margin-bottom: 0px;
        }
        #iGitStarText {
        height: 20px;
        float: left;
        padding: 0;
        margin: 0;
        }
        #iGitStarIframe , #iGitWatchIframe {
        height: 20px;
        width: 100px;
        float: left;
        }
     </style>