.console-area {
    height: 100%;
}

.console-area {
    padding: 9px 14px 9px 14px;
    font-size: 0.8em;
    font-family: "Monaco";
}

.console-area .try-it-btn {
    margin-left: 10px;
    background-color: #E6EAEB;
    color: #585556;
    padding: 3px;
    cursor: pointer;
}
.console-area .try-it-btn:hover {
    background-color: #E6EAEB;
}