.ballerina-widget {
    text-align: center;
}

.ballerina-code-editor:hover {
    border-color: rgba(34,36,38,.35);
}

.ballerina-code-editor {
    height: 300px;
}

.ballerina-code-editor.active {
    border-color: #96c8da;
}

.ballerina-widget-sample-name {
    margin-top: 15px;
}

.ballerina-widget-console {
    height: 130px;
    background-color: #585a5e;
    color: #3ad1ca;
    font-family:  Menlo, Monaco, "Courier New", monospace;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
}

.ui.grid>.column:not(.row).ballerina-widget-console-wrapper {
    padding-left: 0;
}

.ballerina-playground .ui.segments {
    border: none;
    box-shadow: none;
}

.ballerina-playground .ui.segment {
    border-top: none;
}
/* color combos https://www.colorcombos.com/colors/336699 */


.ballerina-widget-diagram img{
    width: 654px;
}

.ballerina-widget-diagram {
    background: #3ad1ca;
}

.ballerina-widget-sample-name {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: lighter;
}

.ballerina-samples-navigator {
    margin-top: 20px;
}

.ballerina-widget-controls{
    margin-top: 20px;
}

.ui.basic.button {
    background: #FFF !important;
    border: 1px solid #cdcecf;
    border-radius: 0%;
}