.ballerina-playground {
    &.ui.container {
        width: 709px!important;
        height: 746px!important;
        background-color: #E6EAEB;
        padding-top: 86px;
        padding-left: 113px;
    }
    .ui {
        &.segments {
            width: 512px;
            border: none;
            border-top: none;
            box-shadow: none;
            .segment {
                padding: 0;
                border: none;
                &.sample-title {
                    background: none;
                    padding-bottom: 8px;
                    padding-left: 27px;
                    span {
                        font-size: 11px;
                        font-family: "Monaco";
                    }
                }
                &.sample-image {
                    width: 512px;
                    height: 64px;
                    img {
                        width: 512px;
                        height: 64px;
                    }
                }
                &.code-editor {
                    padding: 18px 18px 0 18px;
                    height: 300px;
                }
                &.curl-editor {
                    height: 28px;
                    padding: 0 18px 0 18px;
                    font-size: 11px;
                    font-family: "Monaco";
                    line-height: 28px;
                    vertical-align: middle;
                    font-weight: 100;
                }
                &.console {
                    padding: 0 18px 18px 18px;
                    height: 100px;
                    .console-area {
                        background-color: #585a5e;
                        color: #3ad1ca;
                        font-size: 11px;
                        font-family: "Monaco";
                        overflow-y: hidden;
                        overflow-x: hidden;
                        word-wrap: break-word;
                    }
                }
                &.controls {
                    color: #585A5E;
                    margin-top: 17px;
                    .navigator {
                        margin-left: 32px;
                        font-size: 11px;
                        float: left;
                        line-height: 11px;
                    }
                    .other {
                        font-size: 12px;
                        float: right;
                    }
                }
            }
        }
    }
}