/*PHIL*/
.cPhil-green {
    background-color: #3ad1ca;
    font-size: 26px;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    width: 100%;
}

.cPhil-green span {
    padding-top: 156px;
    padding-bottom: 157px;
    display: inline-block;
}


.cPhil-title-boxes {
    width: 100%;
     padding-left: 30px;
   background-image: url("../img/arrow-left-gray.svg");
    background-repeat: no-repeat;
    background-position: 15px center;
    
    
}

.cPhil-title-boxes-container {
    padding: 25px 30px;
    background-color: #f5f6f6;
    display: inline-block;
}

.cPhil-title-boxes p {
    font-size: 12px;
}

.cPhil-title-boxes h3 {
    font-family: "CalibreWeb-Semibold";
    text-transform: uppercase;
    color: #23b8b1;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
/*    margin: 0;*/
margin-top: 10px;
    font-weight: 800;
    
}

.cBallerina-io-Home-widget.cPhilosophy-widget {
    padding-right: 0;
}

.row.cBallerina-io-Gray-row.cPhilosophy {
    padding-bottom: 90px;
}
.cBallerina-io-Home-Right-col.cPhilosophy-Logics {
   
  
}

.cBallerina-io-Home-Left-col.cPhilosophyWhite  {
    padding-bottom: 50px;
}
