.samples-navigation-list button {
    margin-right: 10px;
}

.samples-navigation-list .ui.text.menu .active.item,
.samples-navigation-list .ui.text.menu .item  {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #585a5e;
}

.samples-navigation-list .ui.text.menu .active.item,
.samples-navigation-list .ui.text.menu .active.item:hover {
    color: #1fa39d;
}