.curl-editor {
    min-height: 30px;
    background-color: #3ad1ca;
    color: white;
    padding-top:7px;
    padding-left: 50px;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}