.ballerina-widget {
}

.ballerina-code-editor {
    padding: 5px;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #336699;
}
/* color combos https://www.colorcombos.com/colors/336699 */