.ballerina-widget {
    text-align: center;
}

.ballerina-code-editor {
    padding: 5px;
    margin-left: 10%;
    width: 80%;
    height: 300px;
    border: 1px solid #336699;
}
.ballerina-samples-navigator {
    margin-left: 10%;
    width: 80%;
    margin-bottom: 25px;
}
.ballerina-widget-console {
    padding: 5px;
    margin-top: 25px;
    margin-left: 10%;
    width: 60%;
    height: 100px;
    border: 1px solid #336699;
}
/* color combos https://www.colorcombos.com/colors/336699 */