.ballerina-widget {
    text-align: center;
}

.ballerina-code-editor:hover {
    border-color: rgba(34,36,38,.35);
}

.ballerina-code-editor {
    height: 300px;
    padding: 3px;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
}

.ballerina-code-editor.active {
    border-color: #96c8da;
}

.ballerina-widget-sample-name {
    margin-top: 15px;
}

.ballerina-widget-console {
    padding: 3px;
    height: 100px;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
}

.ui.grid>.column:not(.row).ballerina-widget-console-wrapper {
    padding-left: 0;
}

.ballerina-playground .ui.segments {
    border: none;
    box-shadow: none;
}

.ballerina-playground .ui.segment {
    border-top: none;
}
/* color combos https://www.colorcombos.com/colors/336699 */